header{
    width: 100%;
    height: 3.27rem;
    background-image: url("../img/mine/header.png");
    background-size: cover;
    padding:0 0.24rem;
    box-sizing: border-box;
}
header .top{
    width: 100%;
    height: 0.91rem;
    display: flex;
    justify-content: space-between;
    padding-top:0.1rem ;
    box-sizing: border-box;
}
header .top .note {
    width: 0.36rem;
    height: 0.91rem;
    line-height: 0.4rem;

}
header .top .note i{
    font-size: 0.4rem;
    color: white;
}
header .top .zhong{
    width: 3rem;
    height: 0.91rem;
    text-align: center;
    line-height: 0.4rem;
}
header .top .zhong p{
    font-size: 0.2rem;
    color: white;
}
header .top .zhong .english{
    color: #edafac;
}
header .top .set{
    width: 0.43rem;
    height: 0.91rem;
    line-height: 0.4rem;
}
header .top .set i{
    font-size: 0.4rem;
    color: white;
}
header .touxiang{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: 0.05rem solid rgba(0,0,0,0.3);
    background-image: url("../img/mine/touxiang.png");
    background-size: cover;
    margin: 0.3rem auto;

}
header  p{
    font-size: 0.3rem;
    text-align: center;
}
header  .num{
    margin-top: 0.1rem;
}
.box{
    margin-top: 0.9rem ;
    width: 100%;
    padding: 0 0.24rem;
    box-sizing: border-box;
    height: 1.83rem;
    border-bottom: 0.02rem solid #e3e1e1;
    display: flex;
    justify-content: space-around;
}
.box i{
    font-size: 0.87rem;
    color: #ea6344;
}
.box p{
    font-size: 0.2rem;

}
.xiabox{
    width: 100%;
    height: auto;
    padding: 0 0.24rem;
    box-sizing: border-box;
}

.xiabox li{
    width: 100%;
    height: 1.98rem;
    border-bottom: 0.02rem solid #e3e1e1;
}
.xiabox li .top{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.xiabox li .top  .r{
    width: 1.76rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.xiabox li .top .r i{
    font-size: 0.55rem;
}
.xiabox li .top .r span{
    font-size: 0.2rem;
}
.xiabox li .top .l{
    width: 0.38rem;
    height: auto;
    display: flex;
    align-items: center;
}
.xiabox li .bottom{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.xiabox li .bottom  .r{
    width: 1.76rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.xiabox li .bottom .r i{
    font-size: 0.55rem;
}
.xiabox li .bottom .r span{
    font-size: 0.2rem;
}
.xiabox li .bottom .l{
    width: 0.38rem;
    height: auto;
    display: flex;
    align-items: center;
}
.xiabox .last{
    height: 0.99rem;
    padding-top: 0.3rem;
    box-sizing: border-box;
}
.di{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    height: 0.98rem;
    display: flex;
    justify-content: space-around;
    border-top: 0.04rem solid #e1dfdf;
    align-items: center;
    box-shadow: 0 -0.04rem 0.18rem  rgba(0,0,0,0.07);
}
.di a{
    width: 25%;
    height: 0.98rem;
    background-color: white;
    font-size: 0.24rem;
    display: flex;
    flex-direction: column;
    /*text-align: center;*/
    align-items: center;
    justify-content: center;
}

.di a i{
    font-size: 0.4rem;
}
.di a .icon-04f{
    font-size: 0.5rem;
    color:#f03131 ;
}
.di .waimai span{
    width: 0.5rem;
    text-align: center;
}
